<% @recipes.each do |recipe|%>
<div class='image-wrapper col-md-4'>
  <div class="img-hov card mb-4 shadow-sm" data-id "<%= recipe.id %>">
    <%= link_to (image_tag (recipe.main_image_url(:thumb).to_s), width: '100%', class: 'img-hov'), recipe_path(recipe)%>
    <div class: 'card-body'>
      <p class= 'card-text'>
        <span><%= link_to recipe.title, recipe_path(recipe) %> </span></p>
      <div class="container-flex">
        <button type='button' class="btn btn-outline-secondary">
          <%= link_to "Edit", edit_recipe_path(recipe)  %>
        </button>
        <button type= 'button' class= "btn btn-outline-secondary">
          <%= link_to 'Delete Recipe Item', recipe_path(recipe), method: :delete, data: {confirm: 'Are you sure?'} %>
        </button>
      </div>
    </div>
  </div>
</div>
<% end %>
